@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1700px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1700px) {
    @content;
  }
}

.formContainer {
  background-color: $background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: $primary-color;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: $primary-color;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid $background;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $sec;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: $primary-color;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: $background;
  height: 100vh;
  margin-top: 4.8%;
  width: 100vw;
  display: flex;

  justify-content: space-between;

  .container {
    border: 1px solid rgb(103, 32, 32);
    background-color: $background;
    margin-top: 2rem;
    transform: scale(0.95);
    // padding: 15px 35px 0 0;
    margin-right: 1rem;
    border-radius: 10px;
    width: 78vw;
    max-height: 80%;
    display: flex;
    overflow: hidden;
    // @include tablet {
    //   width: 90%;
    // }

    .sidebar {
      flex: 0.75;
      background-color: $primary-color;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: $sec;
        height: 50px;

        padding: 10px;
        justify-content: space-between;
        color: $background;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }
        .user > img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        .user {
          display: flex;
          gap: 10px;
          padding: 0 0.7rem;
          img {
            background-color: $background;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: $primary-color;
            color: $background;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-radius: 20px;
        margin: 15px 5px;
        width: 90%;
        border: 1px solid $background;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      .userChat {
        padding: 10px;

        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        border-bottom: $background 1px solid;

        color: white;
        cursor: pointer;

        &:hover {
          background-color: $sec;
        }

        p {
          font-size: 14px;
          color: lightgray;
        }
      }

      .userChatInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      