@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.main_container {
  background: linear-gradient(278.62deg, #01b8e2, 2.27%, #244674 98.18%);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px 100px 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 94%;
  padding: 0px 40px;
}
.main_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  margin-right: 10px;
  cursor: pointer;
}
.logo_head {
  cursor: pointer;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.nav_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.but_main {
  background: #244674;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #f9fbfd;
  width: max-content;
  padding: 8px 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin: 10px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}
.but_main:hover {
  background-color: transparent;
  border: 1px solid white;
  color: #f9fbfd;
}
.maincontenet {
  width: 100%;
  padding: 60px 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head_text {
  margin: 20px;
  width: 50%;
}
.symptoms {
  flex-direction: column;
  align-items: normal;
  padding: 30px 50px;
  background: #f9fbfd;
  box-shadow: 8px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}
.symptoms:hover {
  background-color: rgb(250, 250, 250);
  border: 2px solid #fafcff;
}
.heading_in_syms {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #244674;
}
.pic_in_symp {
  margin-top: 20px;
  height: 80px;
  width: 80px;
}
.headintext {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 70px;
  color: #f9fbfd;
}
.subheadintexxt {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 21px;
  width: 80%;
  color: #f9fbfd;
}

@media screen and (max-width: 900px) {
  .maincontenet {
    flex-direction: column;
    align-items: flex-start;
  }
  .head_text {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  .maincontenet {
    padding: 60px 20px;
  }
  .head_text {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 440px) {
  .navbar {
    flex-direction: column;
  }
}

.main_box {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box_inmain {
  height: 280px;
  width: 30%;
  background: #ecf4f7;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.23);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.box_inmain:hover .para_inbox {
  color: #ecf4f7;
}
.box_inmain:hover {
  background: #446da3;
  color: #ecf4f7;
}

.para_inbox {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 34px;
  text-align: center;
  color: #244674;
}
dius: 30px;
}
