@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";

.headerTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.bold {
  font-weight: bold;
}
