@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";

.global {
  overflow-x: hidden;
  overflow-y: hidden;
}
.mainContainer {
  margin-top: 10vh;
  flex-wrap: nowrap;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 0 2rem 0 0;
}

.headerButtons {
  color: $sec;
}

.rightSection {
  margin-left: 21vw;
  width: 72vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1.5rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
}
.inputsContainer {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}
.headerButtons {
  margin-right: 1rem;
}

.logsContainer {
  display: flex;
}
.pressureVertical {
  display: flex;
  flex-direction: column;
}
.pressureHorizantal {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
