@import url("https://fonts.googleapis.com/css2?profiley=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";

body {
  font-family: "Montserrat", sans-serif;
}
.changeColor {
  background-color: red;
}
.dark {
  background-color: $text;
}

.advice {
  font-size: 14px;
  color: $text;
}
.main {
  margin-top: 4.8%;
  padding-left: 1vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.mainContainer {
  width: 78vw;
  height: 100%;

  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.profile {
  height: 100%;

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 40px;
  gap: 2rem;
}

.mainForm {
  padding-left: 2%;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.profile {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 30px 15px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.img {
  width: 140.64px;
  height: 140.64px;
  margin-right: 21.58px;
  border-radius: 50%;
  object-fit: fill;
}
.divBack {
  background-color: $background;
  border-radius: 6px;

  padding: 5px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0px;
}
.name {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: rgba(17, 17, 17, 1);
}

.deanCom {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: black;
}
.deanComEmphasis0 {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: black;
}
.dateicon {
  display: flex;
  align-items: center;
}
.dateRange {
  margin-right: 7.19px;
  width: 19.18px;
  height: 19.18px;
}
.date {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: black;
}
.editbtn {
  background-color: rgba(36, 70, 116, 1);
  border-radius: 4px;
  padding: 7.99px 12.79px;
  box-shadow: 0 2px 2px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17.59px;
  width: 56.74px;
}
.edit {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
}
.adviceMain {
  max-height: 100%;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.formTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: $text;
}
.adviceHeader {
  height: 100%;
}

.divBack {
  max-height: 100%;
}
