@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";
.global {
  overflow-x: hidden;
  overflow-y: hidden;
}
.headerContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: start;
}
.mainContainer {
  margin-top: 4.8%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.headerButtons {
  color: $sec;
}
.rightSection {
  width: 78vw;
  height: 100%;

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.bot {
  display: flex;
  height: 65vh;
  width: 72vw;
  border-radius: 15px;
  margin-top: 2rem;
  background-color: white;
}

.botLeft {
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 0 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #000;
}
.docCards {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $subText;
  padding: 5px;
  width: 100%;
  gap: 0.7rem;
}
.botRight {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
  overflow-y: auto;
}
.symptoms {
  padding: 30px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-height: 15%;
}
.response {
  min-width: 100%;
  overflow-x: auto;
}
