@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";
.global {
  overflow-x: hidden;
  overflow-y: hidden;
}
.headerContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: start;
}
.mainContainer {
  margin-top: 4.8%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.headerButtons {
  color: $sec;
}
.rightSection {
  width: 78vw;
  height: 100%;

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.bot {
  display: flex;
  height: 57vh;
  width: 70vw;
  border: 2px solid red;
  margin-top: 2rem;
}

.botLeft {
  border: 2px solid red;
  padding: 10 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.docCards {
  background-color: rgb(47, 47, 47);
  max-width: 100%;
}
