@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.sign-in-container {
  width: 50%;
  z-index: 2;
}
.signup {
  margin: 12px 0;
}
