.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 0;
  opacity: 0;
}

.signup {
  margin: 12px 0;
}
.gender-options label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #535353;
}
.gender-options input[type="radio"] {
  transform: scale(0.8);
  margin-right: 5px;
}

.btn-options label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #535353;
}
.btn-options input[type="radio"] {
  transform: scale(0.8);
  margin-right: 5px;
}
.gender-label {
  color: #535353;
}
