@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";

.main {
  padding: 0 3.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
}

.bodycontent {
  display: flex;
  flex-direction: column;
}
.uppersection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bodyuser {
  width: 25%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.bodyuserdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  h5 {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
// weight and heigh card css
.bodycomposition {
  width: 20%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
// lower section
.lowerection {
  display: flex;

  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.infocontainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  text-align: center;
}
.info {
  width: 75%;
}
