@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import " ../../../../stylesheet.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.globalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 90vh;
  width: 22vw;
}
.main {
  width: 19vw;
  min-height: 72vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow-y: hidden;
}
.mainLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65vh;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 85%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
}
.dash {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: $background;
  width: 85%;
  background-color: $sec;
  border-radius: 5px;
  padding: 12px 12px 12px 18px;
  size: 0.2rem;
  font-size: 0.7rem;
  font-weight: bolder;
}
.dash:hover {
  filter: brightness(1.1);
  background-color: $sec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.submain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.active {
  color: $background;
  background-color: $sec;
}

.darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 85%;
  border-radius: 5px;
  padding: 5px 8px;
  size: 0.2rem;
  margin-top: 20px;
}
.darkmode:hover {
  filter: brightness(1.2);
  background-color: rgb(15, 15, 85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.activeLink {
  color: $background;
  background-color: $sec;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 85%;
  border-radius: 5px;
  padding: 5px 8px;
  size: 0.2rem;
  cursor: pointer;
}
.selected {
  background-color: lightblue;
}
.space {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 63vh;
}
.mainLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.link:hover {
  filter: brightness(1.2);
  background-color: rgb(15, 15, 85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.word {
  color: $background;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
}
.linkleft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  width: 85%;
  border-radius: 5px;
  padding: 5px 5px;
  size: 1rem;
  font-weight: bold;
  font-size: 0.5rem;
  font-weight: bold;
}
.darkmodeloc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  width: 85%;
  border-radius: 5px;
  padding: 5px 5px;
  size: 0.2rem;
  font-weight: bold;
  font-size: 0.5rem;
  font-weight: bold;
  margin-left: 10px;
}

@media screen and (max-width: 1300px) {
  .logo > img {
    width: 35px;
  }
  .word {
    color: $background;
    font-weight: bold;
    font-size: 0.7rem;
    font-weight: bold;
  }
  .linkleft > img {
    width: 1rem;
  }
  .submain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
  }
  .dash {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: $background;
    width: 85%;
    background-color: $sec;
    border-radius: 5px;
    padding: 6px 6px 6px 12px;
    size: 0.2rem;
    font-size: 0.7rem;
    font-weight: bolder;
  }
  .darkmodeloc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    width: 85%;
    border-radius: 5px;
    padding: 5px 5px;
    size: 0.2rem;
    font-weight: bold;
    font-size: 0.5rem;
    font-weight: bold;
  }

  .link:hover {
    filter: brightness(1.2);
    background-color: rgb(15, 15, 85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
